name: MSYS2
on: [push, pull_request]
jobs:
  msys2-ucrt64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      fail-fast: true
      matrix:
        build_type: [Debug, Release]
    steps:
      - uses: actions/checkout@v3
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: >-
            git
            cmake
            ninja
            make
            mingw-w64-ucrt-x86_64-clang
            mingw-w64-ucrt-x86_64-glfw

      - name: Set reusable strings
        id: strings
        run: |
          BUILD_DIR=$(echo "/${{ github.workspace }}/build" | sed "s#:\\\\#/#g" | sed "s#\\\\#/#g")
          SRC_DIR=$(echo "/${{ github.workspace }}" | sed "s#:\\\\#/#g" | sed "s#\\\\#/#g")
          echo "build-output-dir=$BUILD_DIR" >> "$GITHUB_OUTPUT"
          echo "build-src-dir=$SRC_DIR" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-output-dir }}
          -G Ninja
          -DCMAKE_C_COMPILER=clang
          -DCMAKE_CXX_COMPILER=clang++
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -S ${{ steps.strings.outputs.build-src-dir }}

      - name: Build
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

      - name: Test
        run: ctest --test-dir ${{ steps.strings.outputs.build-output-dir }} --output-on-failure --build-config ${{ matrix.build_type }}
